.layout {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 8px;
}


html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.container-fluid,
.row {
  max-width: 100%;
  overflow-x: hidden;
}


.header { grid-area: header; }

.header { 
    background: white;
    color: rgb(0, 0, 0);
    position: relative;
    z-index: 10;
}

.top-bar {
    background: #ffd4d4;
    color: black;
    text-align: center;
    font-size: 12px;
    padding: 6px;
    letter-spacing: 1px;
}

.separador {
    margin: 0 20px;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px solid #616161;
}

.menu-domi {
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 10;
}

.menu-domi .btn {
    position: relative;
    border-color: none;
    border: none;
    border-radius: 0;
    padding: 0;
    box-shadow: none;    
    color: #333;
}

.menu-domi .btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0;
    height: 2px;
    background: #000;
    transition: width 0.3s ease;

}

.menu-domi .btn:hover::after {
    width: 100%;
}

.menu-item {
    position: relative;
    display: inline-block;
    /*se elimino el margin que habia ps*/
}

.submenu {
    display: none;
    position: absolute;
    top: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    min-width: 180px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 8px 0;
    z-index: 9999;
}
.submenu a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.submenu a:hover {
    background-color: #f5f5f5;
}

.menu-item:hover .submenu {
    display: block;
}

.acciones {
    display: flex;
    align-items: center;
    gap: 5px;
}
.acciones i {
    font-family: "bootstrap-icons";
    font-size: 24px;
    color: rgb(94, 94, 94);
    margin: 0 10px;
}

.icono {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
}
.tooltip {
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    background: #bd7bca;
    color: #fff;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.icono:hover .tooltip {
    opacity: 1;
}
/* Estilos para el main */

.main { grid-area: main; }

.section-slice-1{
    min-height: 90vh;
    max-width: 1000px;   
    margin: 0 auto;      
    min-height: 100vh;
    position: relative;

    img.img-fluid{
        width:100%; 
        height:100%; 
        object-fit:cover; 
        position:absolute; 
        top:0; 
        left:0; 
        z-index:1;
    }
    #hero-image{
    
    position: absolute;
    inset: 0; 
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    }
}



/* overlay */
.hero-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;   
}
.hero-banner{
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    z-index:1;
}
/* contenido por encima */
.hero-banner .container {
  position: relative;
  z-index: 2;
  
}

/* link invisible */
.hero-link {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.hero-subtitle {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.hero-title {
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.hero-btn {
  display: inline-block;
  padding: 12px 30px;
  border: 1px solid #333;
  text-decoration: none;
  color: #333;
}

.hero-btn:hover {
  background-color: #f2e8dc;
}

.hero,
.hero-banner,
.carousel-item {
  overflow: hidden;
}


#promoVintage h1 {
  font-size: 2.5rem;
  color: #333;
  padding-top: 40px;
}

img {
  max-width: 100%;
  height: auto;
}

.card{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.card-img-top {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.card-img-top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}


.carousel-item {
  padding: 0.5rem 0;
}

.carousel-wrapper {
  position: relative;
  overflow: hidden; /
}

/* Flechas  */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
  transform: scale(1)
}


@media (max-width: 767px) {
  .carousel-control-prev,
  .carousel-control-next {
    opacity: 0.8;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width:auto; 
  padding: 0 0;             
}

.carousel-control-prev {
  left: 0;          
}

.carousel-control-next {
  right: 0;         
}


.carousel-control-prev,
.carousel-control-next {
  align-items: center;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
  transform: scale(1.1); 
}

/*botones del carrito de card*/
.btn-add-cart {
  background-color: #fd8aba;   
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 0;
  font-size: 0.9rem;
  transition: background-color 0.2s ease;
}

.btn-add-cart:hover {
  background-color: #8be3eb;
}

/*Sección de promociones de los 3 bloques debajo del carrusle*/
.promo-box {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  height: 380px;
}

.promo-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.promo-box:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.promo-content {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.promo-content h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

/* Estilo de body en sobre_nosotros.html */

/*hero recangulo*/
.about-hero {
  background-color: #dcd9ff;
  padding: 35px 20px;
  text-align: center;
}

.about-hero h1 {
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: 500;
  color: #333;
  margin: 0;  
}

/*seccion de texto e imagen*/
.about-split {
  padding: 40px 20px 70px;
}

.about-split h2 {
  font-size: 36px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #333;
}

.about-split p {
  font-size: 16px;
  line-height: 1.8;
  color: #555;
  margin-bottom: 16px;
}

.img-about {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}

.btn-productos {
  display: inline-block;
  padding: 10px 25px;
  background-color: #ffd4d4;
  color: #333;
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  transition: all 0.3s ease
}

.btn-productos:hover {
  background-color: #ffb3b3;
  color: #000;
  transform: translateY(-2px);

}
 
.btn-ver-mas {
  background-color: transparent;
  border: 1px solid #FF5FA2;
  color: #333;
  font-size: 1rem;
  transition: all 0.3s ease;
  padding-top: -0px;
}

.btn-ver-mas:hover {
  background-color: #fff4e7;
  color: #000;
}

/*footer*/

footer { grid-area: footer; }

footer .container {
    text-align: center;
    font-size: 12px;
    padding: 6px;
    letter-spacing: 1px;
}


footer {
  background-color: #dcd9ff;
}

footer img.logo-empresa {
  width: 150px;
}

footer h5 {
  margin-top: 10px;
  color: purple; 
}

footer ul li a img.icon {
  width: 40px;
  height: 40px;
  margin: 0px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

footer ul li a:hover img.icon {
  opacity: 0.8;
  transform: scale(1.1);
}

.footer-title {
  font-size: 30px;
  color: purple;
  
}

footer ul {
  display: flex;       
  gap: 25px;            
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}

footer ul li {
  margin: 0;            
}

.footer-link {
  display: block;   
  margin-bottom: 5px; 
  color: purple;    
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

footer p.text-center {
  color: purple;   
}

footer .col-md-4.text-right p {
  color: purple;
  margin-bottom: 5px; 

}
