.layout {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 8px;
}

.header { grid-area: header; }

.header { 
    background: white;
    color: rgb(0, 0, 0)
}

.top-bar {
    background: #ffd4d4;
    color: black;
    text-align: center;
    font-size: 12px;
    padding: 6px;
    letter-spacing: 1px;
}

.separador {
    margin: 0 20px;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px solid #616161;
}

.menu-domi {
    display: flex;
    justify-content: center;
}

.menu-domi .btn {
    position: relative;
    border-color: none;
    border: none;
    border-radius: 0;
    padding: 0;
    box-shadow: none;    
    color: #333;
}

.menu-domi .btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0;
    height: 2px;
    background: #000;
    transition: width 0.3s ease;

}

.menu-domi .btn:hover::after {
    width: 100%;
}

.menu-item {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 0 40px;
}

.submenu {
    display: none;
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    min-width: 180px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 8px 0;
    z-index: 1000;
}

.submenu a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.submenu a:hover {
    background-color: #f5f5f5; 
}

.menu-item:hover .submenu {
    display: block;
}

.acciones {
    display: flex;
    align-items: center;
    gap: 5px;
}
.acciones i {
    font-family: "bootstrap-icons";
    font-size: 24px;
    color: rgb(94, 94, 94);
    margin: 0 10px;
}

.icono {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.tooltip {
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    background: #bd7bca;
    color: #fff;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.icono:hover .tooltip {
    opacity: 1;
}
/* Estilos para el main */

.main { grid-area: main; }

.section-slice-1{
    min-height: 90vh;
    max-width: 1000px;   
    margin: 0 auto;      
    min-height: 100vh;
    position: relative;

    img.img-fluid{
        width:100%; 
        height:100%; 
        object-fit:cover; 
        position:absolute; 
        top:0; 
        left:0; 
        z-index:1;
    }
    #hero-image{
    
    position: absolute;
    inset: 0; 
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    }
}



/* overlay */
.hero-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.6);
  
}
.hero-banner{
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    z-index:2;
}
/* contenido por encima */
.hero-banner .container {
  z-index: 2;
  
}

/* link invisible */
.hero-link {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.hero-subtitle {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.hero-title {
  font-size: 2.8rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.hero-btn {
  display: inline-block;
  padding: 12px 30px;
  border: 1px solid #333;
  text-decoration: none;
  color: #333;
}

.hero-btn:hover {
  background-color: #f2e8dc;
}

/* estilos de los productos */
/* ========= IMÁGENES MISMO TAMAÑO ========= */
.card-img-top {
  width: 100%;
  aspect-ratio: 1 / 1; /* cuadradas */
  overflow: hidden;
}

.card-img-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* para celu, o si hachicamos la pantalla*/
@media (max-width: 767px) {

  .container.my-5 .row.g-4 {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 3rem;
  }

  .container.my-5 .col-6 {
    flex: 0 0 75%;
    max-width: 75%;
    scroll-snap-align: center;
  }

  /* Ocultar scrollbar */
  .container.my-5 .row.g-4::-webkit-scrollbar {
    display: none;
  }
}

/* las flechitas esas debajo de las cards */
.carousel-arrows {
  display: none;
}

@media (max-width: 767px) {
  .carousel-arrows {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
  }

  .carousel-arrows span {
    width: 40px;
    height: 40px;
    border: 1px solid #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #333;
    opacity: 0.6; /* estilo "desactivado" */
  }
}


footer { grid-area: footer; }

footer .container {
    text-align: center;
    font-size: 12px;
    padding: 6px;
    letter-spacing: 1px;
}

.separador {
    margin: 0 20px;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px solid #616161;
}

.menu-domi {
    display: flex;
    justify-content: center;
}

.menu-domi .btn {
    position: relative;
    border-color: none;
    border: none;
    border-radius: 0;
    padding: 0;
    box-shadow: none;    
    color: #333;
}

.menu-domi .btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0;
    height: 2px;
    background: #000;
    transition: width 0.3s ease;

}

.menu-domi .btn:hover::after {
    width: 100%;
}

.menu-item {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 0 40px;
}

.submenu {
    display: none;
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    min-width: 180px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 8px 0;
    z-index: 1000;
}

.submenu a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.submenu a:hover {
    background-color: #f5f5f5; 
}

.menu-item:hover .submenu {
    display: block;
}

.acciones {
    display: flex;
    align-items: center;
    gap: 5px;
}
.acciones i {
    font-family: "bootstrap-icons";
    font-size: 24px;
    color: rgb(94, 94, 94);
    margin: 0 10px;
}

.icono {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.tooltip {
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    background: #bd7bca;
    color: #fff;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.icono:hover .tooltip {
    opacity: 1;
}

.main { grid-area: main; }

#promoCarousel .carousel-inner-main {
    height: 350px;
    width: auto auto;
}

footer {
  background-color: #dcd9ff;
}

footer img.logo-empresa {
  width: 150px;
}

footer h5 {
  margin-top: 10px;
  color: purple; 
}

footer ul li a img.icon {
  width: 40px;
  height: 40px;
  margin-right: 30px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

footer ul li a:hover img.icon {
  opacity: 0.8;
  transform: scale(1.1);
}

.footer-title {
  font-size: 30px;
  color: purple;
  
}

footer ul {
  display: flex;       
  gap: 20px;            
  padding: 0;
  margin: 0;
  list-style: none;
}

footer ul li {
  margin: 0;            
}

.footer-link {
  display: block;   
  margin-bottom: 5px; 
  color: purple;    
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

footer p.text-center {
  color: purple;   
}

footer .col-md-4.text-right p {
  color: purple;
  margin-bottom: 5px; 

}
